In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
response = requests.get(url)
soup = bs(response.text, 'lxml')

In [4]:
news_title = soup.find('div', class_= 'content_title').text
news_p = soup.find('div', class_= 'rollover_description_inner').text
print('-'*12)
print(news_title)
print(news_p)

------------


Alabama High School Student Names NASA's Mars Helicopter



Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [5]:
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)

In [6]:
browser.click_link_by_partial_text('FULL IMAGE')
browser.click_link_by_partial_text('more info')
browser.click_link_by_partial_text('.jpg')

C:\Users\flury\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [7]:
featured_image_url = browser.url
featured_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA18185.jpg'

In [19]:
twitter = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(twitter)
soup = bs(response.text, 'lxml')

In [9]:
results = soup.find_all('div', class_='js-tweet-text-container')
mars_weather = results[2].text
mars_weather = mars_weather.replace('\n','')
mars_weather

'InSight sol 505 (2020-04-28) low -93.8ºC (-136.8ºF) high -6.6ºC (20.1ºF)winds from the WNW at 4.2 m/s (9.4 mph) gusting to 13.2 m/s (29.6 mph)pressure at 6.70 hPa'

In [10]:
facts_url = 'https://space-facts.com/mars/'
facts= pd.read_html(facts_url)
facts_df = facts[0]
facts_df.columns = ['Description', 'Value']
facts_df.set_index('Description', inplace= True)
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [11]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)

In [12]:
hemisphere_image_urls = [
                       {'title':'Cerberus Hemisphere Enhanced', 'img_urls':''},
                       {'title':'Schiaparelli Hemisphere Enhanced', 'img_urls':''},
                       {'title':'Syrtis Major Hemisphere Enhanced', 'img_urls':''},
                       {'title':'Valles Marineris Hemisphere Enhanced', 'img_urls':''}
                       ]
hemisphere_image_urls['title']['img_urls']

TypeError: list indices must be integers or slices, not str

In [13]:
for x in range(0, 4):
    browser.visit(hemisphere_url)
    try:
        browser.click_link_by_partial_text(hemisphere_image_url[x]['title'])
        response = requests.get(browser.url)
        soup = bs(response.text, 'lxml')
        link = soup.find('li')
        img_link = link.find('a')
        i_links = img_link['href']
        print(i_links)
        hemisphere_image_urls[x]['img_urls'] = i_links
    except:
        print('...')

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [16]:
facts_html = facts_df.to_html()
facts_html = facts_html.replace('\n','')
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'